a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #0a0a0a;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.header {
    background-color: #0a0a0a;
    padding-top: 33px;
    padding-bottom: 32px;
    color: #717171;
    font-size: 24px;
    line-height: 29px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu-item {
    margin-right: 30px;
}


